[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        tree = log --abbrev-commit --pretty=oneline --graph --decorate --all
        last = log -1 HEAD
[user]
        email = email@email.com
        name = Louis Amoros
[core]
        editor = vim
[push]
        default = simple
[http]
        proxy = http://<username>:<password>@<proxy>:<proxy-port>
[https]
        proxy = https://<username>:<password>@<proxy>:<proxy-port>
[github]
        token = <token>
[remote "github.com"]
        proxy = //TO BYPASS PROXY
[credential]
        helper = cache --timeout=3600
